CONFIG=/opt/r-aero-jitsi/config
TZ=Europe/Paris
JITSI_IMAGE_VERSION=stable-11248
PUBLIC_URL=https://meet.r-aero-academy.com
HTTP_PORT=8000
HTTPS_PORT=8443
DISABLE_HTTPS=1
ENABLE_HTTP_REDIRECT=0
ENABLE_LETSENCRYPT=0
ENABLE_AUTH=1
ENABLE_GUESTS=0
AUTH_TYPE=jwt
JWT_APP_ID=raero
JWT_APP_SECRET=
JWT_ACCEPTED_ISSUERS=raero
JWT_ACCEPTED_AUDIENCES=jitsi
JWT_ALLOW_EMPTY=0
JWT_ENABLE_DOMAIN_VERIFICATION=1
JWT_SIGN_TYPE=HS256
XMPP_DOMAIN=meet.r-aero-academy.com
XMPP_AUTH_DOMAIN=auth.meet.r-aero-academy.com
XMPP_MUC_DOMAIN=muc.meet.r-aero-academy.com
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.r-aero-academy.com
XMPP_HIDDEN_DOMAIN=hidden.meet.r-aero-academy.com
XMPP_GUEST_DOMAIN=guest.meet.r-aero-academy.com
XMPP_MUC_MODULES=token_affiliation
ENABLE_AUTO_OWNER=0
ENABLE_MODERATOR_CHECKS=1
JVB_ADVERTISE_IPS=76.13.45.7
JVB_PORT=10000
JICOFO_AUTH_PASSWORD=
JVB_AUTH_PASSWORD=
JICOFO_MAX_MEMORY=512m
VIDEOBRIDGE_MAX_MEMORY=1024m
ENABLE_P2P=0
ENABLE_WELCOME_PAGE=0
ENABLE_CLOSE_PAGE=0
ENABLE_PREJOIN_PAGE=0
ENABLE_RECORDING=0
ENABLE_LIVESTREAMING=0
DISABLE_LOCAL_RECORDING=1
ENABLE_TRANSCRIPTIONS=0
ENABLE_JAAS_COMPONENTS=0
DISABLE_DEEP_LINKING=1
ENABLE_THIRD_PARTY_REQUESTS=0
DEFAULT_LANGUAGE=fr
ENABLE_XMPP_WEBSOCKET=1
ENABLE_COLIBRI_WEBSOCKET=1
COLIBRI_WEBSOCKET_PORT=9090
COLIBRI_WEBSOCKET_JVB_LOOKUP_NAME=jvb
ENABLE_IPV6=0
JICOFO_ENABLE_AUTH=0
